<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Số lượng tin đã nhắn 7 ngày qua</h4>
            <div class="aligner-wrapper">
              <div class="wrapper d-flex flex-column justify-content-center absolute absolute-center">
                {{numberOfMessages}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body performane-indicator-card">
            <div class="d-sm-flex">
              <h4 class="card-title flex-shrink-1">Thống kê tin nhắn</h4>
            </div>
            <div id="performance-indicator-chart" class="ct-chart mt-4">
              <ngx-charts-bar-vertical
                [view]="view"
                [results]="messageCharts"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex align-items-center mb-4">
              <h4 class="card-title mb-sm-0">Những khách hàng thường xuyên sử dụng</h4>
              <a routerLink="../khach-hang/quan-ly-khach-hang" class="text-dark ml-auto mb-3 mb-sm-0">Xem tất cả khách hàng</a>
            </div>
            <div class="table-responsive border rounded p-1">
              <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                <tr>
                  <th></th>
                  <th>Họ và tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Lần đăng nhập cuối</th>
                  <th>Số tin đã nhắn</th>
                  <th>Trạng thái</th>
                  <th>Ngày đăng kí</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clients">
                    <td><img src="{{ client.avatar | pipeHostFile }}" alt="" /></td>
                    <td>{{client.name}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.lastLogin}}</td>
                    <td>{{client.messageCount}}</td>
                    <td>
                      <ng-container *ngIf="client.status === true">
                        <label class="badge badge-success">Hoạt động</label>
                      </ng-container>
                      <ng-container *ngIf="client.status === false">
                        <label class="badge badge-warning">Đã khóa</label>
                      </ng-container>
                    </td>
                    <td>{{client.createdAt | date:'short'}}</td>
                    <td>
                      <button title="Xem chi tiết" class="btn-option link-info"><i class="fa fa-solid fa-eye"></i></button> |
                      <button title="Chỉnh sửa" class="btn-option link-primary"><i class="fa fa-solid fa-pen"></i></button> |
                      <button title="Xóa" class="btn-option link-danger"><i class="fa fa-solid fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="d-flex mt-4 flex-wrap">
              <p class="text-muted">Showing 1 to 10 of 57 entries</p>
              <nav class="ml-auto">
                <ul class="pagination separated pagination-info">
                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                  <li class="page-item active"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
    </div>
  </footer>
  <!-- partial -->
</div>
