<div class="container  my-3">

<!--  <ngx-datatable-->
<!--    [rows]="chats"-->

<!--    class="table table-bordered table-striped"-->
<!--  >-->
<!--    &lt;!&ndash; Cấu hình cột &ndash;&gt;-->
<!--    <ngx-datatable-column name="" prop="photo">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        <img [src]="value | pipeHostFile" width="50" height="50" alt="Image">-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Tên phòng chat" prop="chatName"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Loại phòng chat" prop="typeChatId"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Số lượng tin đã nhắn" prop="numberOfMessage"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Số lượng thành viên" prop="numberOfMember"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Thời gian tạo" prop="createdAt">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{ value | date : 'short' }}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Thời gian hoạt động cuối" prop="updatedAt">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{ value | date : 'short' }}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--  </ngx-datatable>-->


<!--    <div class="float-end mx-3">-->
<!--        <input type="text" placeholder="Tìm kiếm phòng chat" style="border: 1px solid var(&#45;&#45;gray); outline: none; padding: 4px 6px; border-radius: 4px; overflow: hidden">-->
<!--    </div>-->
    <table class="table table-bordered table-striped w-100">
        <thead>
        <tr>
            <th></th>
            <th>Tên phòng chat</th>
            <th>Loại phòng chat</th>
            <th>Số lượng tin đã nhắn</th>
            <th>Số lượng thành viên</th>
            <th>Thời gian tạo</th>
            <th>Thời gian hoạt động cuối</th>
        </tr>
        </thead>
        <tbody *ngIf="chats.length > 0">
        <tr *ngFor="let chat of chats" [routerLink]="['/admin/chi-tiet-phong-chat', chat.id]">
            <td><img src="{{ chat.photo | pipeHostFile }}" alt="" /></td>
            <td>{{chat.chatName}}</td>
            <td>
                <ng-container *ngIf="chat.typeChatId == 1">
                    Riêng tư
                </ng-container>
                <ng-container *ngIf="chat.typeChatId == 2">
                    Nhóm chat
                </ng-container>
            </td>
            <td>{{chat.numberOfMessage}}</td>
            <td>{{chat.numberOfMember}}</td>
            <td>{{chat.createdAt | date:'short'}}</td>
            <td>{{chat.updatedAt | date:'short'}}</td>
        </tr>
        </tbody>
    </table>
</div>

