<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Danh sách phòng chat </h3>
    </div>
    <table class="table table-bordered table-striped w-100">
        <thead>
        <tr>
            <th></th>
            <th>Tên phòng chat</th>
            <th>Loại phòng chat</th>
            <th>Số lượng tin đã nhắn</th>
            <th>Số lượng thành viên</th>
            <th>Thời gian tạo</th>
            <th>Thời gian hoạt động cuối</th>
        </tr>
        </thead>
        <tbody *ngIf="chats.length > 0">
        <tr *ngFor="let chat of chats">
            <td  [routerLink]="['/admin/chi-tiet-phong-chat', chat.id]"><img src="{{ chat.photo | pipeHostFile }}" alt="" /></td>
          <td><a [routerLink]="['/admin/chi-tiet-phong-chat', chat.id]" class="link-primary">{{chat.chatName}}</a></td>
            <td>
                <ng-container *ngIf="chat.typeChatId == 1">
                    Riêng tư
                </ng-container>
                <ng-container *ngIf="chat.typeChatId == 2">
                    Nhóm chat
                </ng-container>
            </td>
            <td>{{chat.numberOfMessage}}</td>
            <td>{{chat.numberOfMember}}</td>
            <td>{{chat.createdAt | date:'short'}}</td>
            <td>{{chat.updatedAt | date:'short'}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

