<div class="box-left-content-title">
  <strong class="size-13">Tất cả tin nhắn</strong>
</div>
<div class="box-left-content-body">
  <ul class="list-unstyled">
    <li *ngFor="let item of datas; index as index">
      <div
        (click)="openMessage(item.id)"
        class="box-group"
        [ngClass]="{ active: chatId == item.id }"
      >
        <div class="user-avatar">
          <img src="{{ item.photo | pipeHostFile }}" alt="" />
        </div>
        <div class="box-group-detail">
          <div class="box-group-title">
            <div class="box-group-title-name">
              <span>
                {{ item.chatName }}
<!--                <ng-container-->
<!--                  *ngIf="item.chatName.length > 22; else elseTemplate"-->
<!--                >-->
<!--                  <span> {{ item.chatName.substring(0, 22) }}... </span>-->
<!--                </ng-container>-->
<!--                <ng-template #elseTemplate>-->
<!--                  <span>-->
<!--                    {{ item.chatName }}-->
<!--                  </span>-->
<!--                </ng-template>-->
              </span>
            </div>
            <div class="box-group-title-time">
              <span>{{ item.updatedAt | chatDate }}</span>
            </div>
          </div>
          <div class="box-group-last-message">
            <ng-container *ngIf="item.lastestMessage != null">
              <ng-container
                *ngIf="item.lastestMessage.length > 30; else elseTemplate"
              >
                <span> {{ item.lastestMessage.substring(0, 30) }}... </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span>
                  {{ item.lastestMessage }}
                </span>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
