<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Danh sách khách hàng </h3>
      <nav aria-label="breadcrumb">
        <button class="btn btn-info btn-rounded">Tạo tài khoản khách hàng</button>
      </nav>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th></th>
        <th>Họ và tên</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Giới tính</th>
        <th>Lần đăng nhập cuối</th>
        <th>Trạng thái</th>
        <th>Ngày đăng kí</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="clients.length > 0">
      <tr *ngFor="let user of clients | paginate: { itemsPerPage: pageSize, currentPage: pageNumber }">
        <td><img src="{{ user.avatar | pipeHostFile }}" alt="" /></td>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.lastLogin}}</td>
        <td>
          <ng-container *ngIf="user.status === true">
            <label class="badge badge-success">Hoạt động</label>
          </ng-container>
          <ng-container *ngIf="user.status === false">
            <label class="badge badge-warning">Đã khóa</label>
          </ng-container>
        </td>
        <td>{{user.createdAt | date:'short'}}</td>
        <td>
          <a href="#" title="Xem chi tiết" class="link-info"><i class="fa fa-solid fa-eye"></i></a> |
          <a href="#" title="Chỉnh sửa" class="link-primary"><i class="fa fa-solid fa-pen"></i></a> |
          <a href="#" title="Xóa" class="link-danger"><i class="fa fa-solid fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex mt-4 flex-wrap">
      <p class="text-muted">Showing {{1+pageSize*(pageNumber-1)}} to
        <ng-container *ngIf="(10+pageSize*(pageNumber-1)) >= clients.length">
          {{clients.length}}
        </ng-container>
        <ng-container *ngIf="(10+pageSize*(pageNumber-1)) < clients.length">
          {{10+pageSize*(pageNumber-1)}}
        </ng-container>
        of {{clients.length}} entries</p>
      <nav class="ml-auto">
        <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
      </nav>
    </div>
  </div>
</div>
