<div class="box-left-content-title">
  <strong class="size-13">Danh sách liên hệ</strong>
</div>
<div class="box-left-content-body">
  <ul class="list-unstyled">
    <li *ngFor="let item of datas; index as index">
      <div
        (click)="accessChatRoom(item)"
        class="box-group"
        [ngClass]="{ active: chatId == item.id }"
      >
        <div class="user-avatar">
          <img src="{{ item.photo | pipeHostFile }}" alt="" />
        </div>
        <div class="box-group-detail justify-content-center">
          <div class="box-group-title">
            <div class="box-group-title-name">
              <span>
                {{ item.chatName }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
