.box-group-info {
  position: relative;
}

.box-group-info i {
  position: absolute;
  top: 10px;
  left: calc(50% + 30px);
  cursor: pointer;
}

.mdi-download {
  color: #f0f0f0;
}
.emojionearea {
  width: 90%;
}
.emojionearea .emojionearea-editor {
  min-height: 1em;
}

.input-name-group{
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
}

.edit-name-group{
  top: 0;
  left: 100%;
  font-size: 0.6rem;
  border: none;
  outline: none;
}


.btn-out-group-chat{
  position: absolute;
  right: 15px;
  top: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #eb3f3f;
  transition: 0.3s;
}

.btn-out-group-chat:hover{
  color: #ff2828;
}
